<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hetonghao.heart.edu.mapper.ChapterMapper">

    <resultMap id="entity" type="cn.hetonghao.heart.edu.entity.Chapter"/>
    <resultMap id="bo" extends="entity" type="cn.hetonghao.heart.edu.bo.ChapterBO">
    </resultMap>
    <sql id="condition">
        <if test="vo != null">
            <if test="vo.id !=null and vo.id !=''">
                and base.id like concat('%',#{vo.id},'%')
            </if>
            <if test="vo.courseId !=null and vo.courseId !=''">
                and base.course_id like concat('%',#{vo.courseId},'%')
            </if>
            <if test="vo.title !=null and vo.title !=''">
                and base.title like concat('%',#{vo.title},'%')
            </if>
            <if test="vo.sort !=null">
                and base.sort = #{vo.sort}
            </if>
            <if test="vo.gmtCreate !=null">
                and base.gmt_create = #{vo.gmtCreate}
            </if>
            <if test="vo.startGmtCreate !=null">
                and base.gmt_create >= #{vo.startGmtCreate}
            </if>
            <if test="vo.endGmtCreate !=null">
                and base.gmt_create &lt;= #{vo.endGmtCreate}
            </if>
            <if test="vo.gmtModified !=null">
                and base.gmt_modified = #{vo.gmtModified}
            </if>
            <if test="vo.startGmtModified !=null">
                and base.gmt_modified >= #{vo.startGmtModified}
            </if>
            <if test="vo.endGmtModified !=null">
                and base.gmt_modified &lt;= #{vo.endGmtModified}
            </if>
        </if>
    </sql>
    <select id="page" resultMap="bo">
        select base.*
        from edu_chapter as base
        <where>
            <include refid="condition"/>
        </where>
    </select>
    <select id="countByVO" resultType="integer">
        select count(1)
        from edu_chapter as base
        <where>
            <include refid="condition"/>
        </where>
    </select>
    <select id="findDetail" resultMap="bo">
        select base.*
        from edu_chapter as base
        where base.id = #{id}
    </select>
</mapper>
